#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 8rem;
  background-color: rgb(122, 138, 154);
  
}

.instructions {
  list-style-type: auto;
}


h1 {

  display: flex;
  justify-content: center;
}



form {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

